.label{
    margin-top: 30px;
    padding-top: 30px;
}
.checkbox-div{
    width: 300px;
}
.checkbox-div-top{
  width: 296px;
}
.card-title{
    padding-bottom: 20px;
}
.checkbox{
    font-size: 14px;
    float: left;
}
.checkbox-right{
    float: right;
    font-size: 14px;
}
.selector-content-card{
    height: 400px;
    /* padding-top: 20px; */
}
.next-button{
    margin-top: 20px;
    background-color:rgba(222, 222, 222, 0.54);
}
.instruction{
    margin-top: 20px;
}
.stepper-divider{
    margin-top: 15px;
}
.combine-slide{
    margin-top: 20px;
}

.network-selector{
    margin-top: 20px;
    width: 250px;
}
.errorText{
    margin-top: 20px;
    font-size: 12px;
}