.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .title{
    font-size: 30px;
  }

  .main-toolbar{
    color: white;
  }
  .toolbar-icon{
      font-size: 40px;
      padding-right: 20px;
      margin-bottom: 20px;

  }
  .content-card{
    /* width: 800px; */
    width: 70vw;
    /* height: 78vh; */
    height: 200vh;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
  }
  .label{
      margin-top: 30px;
      padding-top: 30px;
  }
  .checkbox-div{
      width: 300px;
  }
  .checkbox-div-top{
    width: 296px;
  }
  .card-title{
      padding-bottom: 20px;
  }
  .checkbox{
      font-size: 14px;
      float: left;
  }
  .checkbox-right{
      float: right;
      font-size: 14px;
  }
  .background{
    background-image: url("../gray.jpg");
        /* background-color: rgba(190, 255, 226, 0.17); */
      /* background-blend-mode: lighten; */

  }
  .selector-content-card{
      height: 300px;
  }
 
 
