.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .title{
    font-size: 30px;
  }

  .main-toolbar{
    /* background-color: #209F80; */
    color: white;

  }
  .toolbar-icon{
      font-size: 40px;
      padding-right: 20px;
      margin-bottom: 20px;

  }
  .content-card{
    /* width: 800px; */
    width: 70vw;
    /* height: 78vh; */
    height: 78vh;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    overflow-y: scroll;
  }
 
  .background{
    background-image: url("../gray.jpg");
    height: 86.46vh;
    width: 99vw;
        /* background-color: rgba(190, 255, 226, 0.17); */
      /* background-blend-mode: lighten; */

  }

 
 
