<!-- <mat-card> -->
<mat-card-title>About ModifieR</mat-card-title>
<br>
<div class="info-picture"></div>
<br>
<!-- <img src="../../modifieRModel.jpg"> -->
ModifieR is a web based tool for inference of disease modules. 
It allows combining multiple disease-module inference methods, creating a stable and reliable result
ModifieR is developed at the University of Skövde.
<br>
<br>
For questions and comments regarding the tool, please contact
<br>
<br>
Emma Persson
<br>
persson.e.emma@gmail.com
<!-- </mat-card> -->
